{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "commonjs": {
      "presets": [
        "stage-0",
        [
          "env",
          {
            "modules": "commonjs",
            "loose": true,
            "exclude": ["transform-es2015-typeof-symbol"]
          }
        ]
      ]
    },
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
